@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
@import url('https://fonts.cdnfonts.com/css/anson');
@import url('https://fonts.cdnfonts.com/css/calendas-plus');
/* assets/css/custom.css */

/* Altera a cor de fundo de todo o site */
body {
  
  background: linear-gradient(90deg, #424242, #1d1919) !important;
  background-attachment:fixed !important; /* Mantém o gradiente fixo ao rolar a página */
}



/* Altera a cor padrão do texto (parágrafos, listas, etc) */
body, p, li {
  font-family: 'Times New Roman', Times, serif;
  color: #bbbaba !important; /* Um cinza escuro, para boa legibilidade */
  font-size: 20px !important;
}

/* Altera a cor dos títulos principais (h1, h2) */
h1, h2 {
  font-family: 'Calendas Plus', serif; 
  color: #ebebebc0 !important; /* Um tom de vermelho */
}

/* Altera a cor dos links */
a {
  
  color: #b0b0b9 !important; /* Um tom de azul */
}

/* Altera a cor dos links quando o mouse passa por cima */
a:hover {
  color: #61616881 !important; /* Um azul mais escuro */
}

