name: fastAPI CI

on:
  push:
    branches: ["main"]
    paths:
      - 'BackEnd/**'
  pull_request: 
    branches: ["main"]
    paths:
      - 'BackEnd/**'

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: BackEnd
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ../requirements.txt
          pip install flake8 pytest httpx

          if [ -f "../requirements.txt" ]; then
            pip install -r "../requirements.txt"
          fi

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      
      - name: Run tests
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest